$black: #000000;
$white: #ffffff;
$darkBg: #100e19;
$lightBg: #d9d7e0;
$darkText: #1f1b2e;
$lightText: #f4f4f4;
$grayText: #a5a1b2;
$imdgbBG: #F5C518;
$content_alpha_100: rgba(255, 255, 255, 0.06);
$content_alpha_200: rgba(255, 255, 255, 0.16);
